BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Always
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Right
ColumnLimit: 0
ReflowComments: false
IndentCaseLabels: true
IndentPPDirectives: AfterHash
SortIncludes: Never
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: NonAssignment
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakAfterReturnType: None
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyExcessCharacter: 1000000
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
